@model AccoutingProblem.Models.Record

@{
    ViewBag.Title = "UploadRecord";
}

<h2>Upload Record</h2>

<div class="row">
    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" />
    </form>
</div>
<div class="display-field">
    <table>
        <tr>
            <th>Account</th>
            <th>Description</th>
            <th>Currency Code</th>
            <th>Amount</th>
            <th>Error</th>
        </tr>
        @if (Model != null && Model.Transactions != null)
        {
            foreach (var transaction in Model.Transactions)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => transaction.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => transaction.TransactionError)
            </td>
        </tr>
            }
        }

    </table>
</div>